<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>SetCharFilter</filter-name>
        <filter-class>cn.yunhe.filter.SetCharFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SetCharFilter</filter-name>
        <url-pattern>/SearchServlet</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>cn.yunhe.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
</web-app>